{
    "globals": {
        "document": "readonly",
        "window": "readonly",
        "fetch":"readonly",
        "setTimeout":"readonly"
      },
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "react",
      "react-hooks"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "no-console": "error",
      "prefer-const": "error",
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "@typescript-eslint/no-empty-interface": "off",
      "react/prop-types": "off",
      "react/display-name": "off"
    }
  }
  