{
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParents": "always",
    "bracketSpacing": true,
    "semi": true
}
