.admin-dash{
    background-color: azure;
    margin: 150px 300px 200px 300px;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}