.user-list-container {
    margin: 100px 250px 30px 250px;
   

  }
  
  .search-bar {
    margin-bottom: 10px;
    width: 200px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(218, 245, 218);
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    gap: 5px;
  }
  
  /* .actions button {
    padding: 5px 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* .actions button:hover {
    background-color: #bdbdbd;
  } */
  .edit-link{
    text-decoration: none;
    color: inherit;
  }
  .edit-button {
    color:#FFFFFF;
    background-color: #0080ff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .edit-button:hover{
    background-color: #0066cc;
  }
  .delete-button {
    color:#FFFFFF;
    background-color: #e61111;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .delete-button:hover{
    background-color: #b40f0f;
  }