body {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body.modal-open {
  overflow: hidden;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.modal-button.login {
  background-color: #007bff;
  color: #fff;
}

.modal-button.cancel {
  background-color: #f8f9fa;
  color: #000;
}
